/* 
- media queries
    + diseño para moviles  
- boton whatsapp
- movidita de cristal sobre el carrusel poniendo frases piyunas
- ancla para q al ir a una seccion lo haga bien
- fuentes
- longitud linea max 90caracteres
- formateo y tamaño de las imagenes
- SEO
    + metadatos html
    + movidas del tiempo de carga LCP
sugerencias iris
                                    X -etiqueta header para secciones en vez de div
                                    X cambio por completoprecios en vez h3 lista 
                                    X girar patas 45º 
                                    X mayusculas en los titulos con css
                                    X etiqueta time y date
                                    X - horario como tabla
                                    X etiqueta telefono llamar
                                    X - bloques servicios como lista definicioens
*/

/*******************************/

/*           RESETS            */

/*******************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li,
dd,
dl,
dt {
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

/*******************************/

/* VARIABLES */

/*******************************/

:root {
  --azul: #1e73be;
  --gris: rgb(89, 89, 89);
}

.oscuro {
  background-color: var(--azul);
  color: white;
}

.claro {
  background-color: white;
  color: var(--gris);
}

/*******************************/

/* TEXTO */

/*******************************/

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: var(--gris);
}

.texto_seccion {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif, sans;
  text-align: center;
}

h2 {
  text-align: center;
}

.condiciones {
  margin-bottom: 20px;
  text-align: center;
}

figcaption {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.paw {
  transform: rotate(45deg);
  padding-right: 6px;
}

/*******************************/

/* LAYOUT ESTRUCTURA PRINCIPAL */

/*******************************/

/* Contiene todo el cuerpo */
body > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}


/* contenedor para distribuir en dos columnas bloques de contenido, usado en planes, packs y empleados*/
.bloque_doble {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 30px;
}

.bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
  border-width: 0px;
  border-radius: 20px;
  border-style: solid;
  min-width: 300px;
  max-width: 500px;
}

html {
  scroll-behavior: smooth;
}
/*******************************/

/* TITULOS */

/*******************************/

section header {
  position: relative;
  z-index: 99;
  top: -67px;
  /*  */
  padding: 2px 10px;
  margin-top: 25px;
  margin-bottom: -50px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  /*  */
  border: 5px solid var(--azul);
  border-radius: 25px;
  /*  */
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: var(--azul);
  background-color: white;
  text-transform: uppercase;
}

/*******************************/

/*         CABECERA            */

/*******************************/
.contenedor:nth-of-type(1) {
  border-top: 0;
}

.cabecera {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logotipo {
  object-fit: contain;
  max-height: 100px;
  max-width: 90%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
  max-width: 600px;
}

nav a {
  display: block;
  padding: 5px 10px;
  color: var(--azul);

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 4px solid var(--azul) !important;
  transition: 0.5s ease;
}

nav a:visited {
  text-decoration: none;
  outline: none;
}

/*******************************/

/*            SLIDE            */

/*******************************/

.contenedor:nth-of-type(2) {
  padding-bottom: 0;
  padding-top: 0;
}
.slide {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 70vh;
  position: relative;
}

.slide img {
  flex: 9999 0 200px;
  max-height: 60vh;
  object-fit: cover;
}

.boton_slide {
  flex: 1 0 auto;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 10px;
  color: white;
  font-size: 100px;
  position: absolute;
  text-shadow: 3px 3px 3px rgba(30, 115, 190, 1);
}
.boton_slide.atras {
  left: 0;
}
.boton_slide.alante {
  right: 0;
}

.boton_slide:hover {
  text-shadow: 5px 5px grey;
  cursor: pointer;
}
/* bolitas de progreso */
.progreso {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 45px;
  left: 0;
  height: 0px;
}
.contprogreso input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.bolita {
  display: block;
  background: var(--gris);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: 1px white solid;
}
.bolita:after {
  content: "";
  position: absolute;
  display: none;
}
.contprogreso input:checked ~ .bolita {
  background-color: var(--azul);
}
.contprogreso input:checked ~ .bolita:after {
  display: block;
}

.frases {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  font-size: xx-large;
  font-style: italic;
  z-index: 9999;
  color: white;
  background: rgba(30, 115, 190, 0.015);
  border: 1px darkgray solid;
  box-shadow: 0 8px 32px 0 rgba(15, 60, 182, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 5px;
}

#frase1 {
  /* background-color: salmon ; */
  top: 25%;
  left: 5%;
}
#frase2 {
  top: 75%;
  left: 45%;
}
#frase3 {
  top: 35%;
  left: 65%;
}
#frase4 {
  top: 20%;
  left: 15%;
}
#frase5 {
  display: flex;
  align-content: center;
  justify-content: center;
  /* top:25%; */
  /* left: 15%; */
  height: 100%;
  width: 30%;
  line-height: 100%;
}
/*******************************/

/* SECCIONES  */

/*******************************/

/* LA CLINICA */

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.galeria img {
  border-radius: 10px;
  margin: 4px;
  border: transparent solid 6px;
  max-width: 150px;
  min-width: 50px;
}

.galeria img:hover {
  border: var(--azul) solid 4px;
  padding: 2px;
  opacity: 0.6;
}

/* SERVICIOS */

.servicios dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.bloque_servicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  min-width: 100px;
  max-width: 80vw;
  margin: 10px;
  flex: 999 0 250px;
}

.bloque_servicio img {
  width: 60px;
  border-radius: 40%;
}

.bloque_servicio h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* PLANES y PACKS*/

.bloque.packoplan img {
  border-radius: 10px;
  width: 90%;
}

.bloque.bloque.packoplan dl {
  padding: 10px 20px;
  list-style: none;
  border: var(--azul) 5px solid;
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 0;
}

.bloque.bloque.packoplan dt {
  font-weight: bold;
}

.bloque.bloque.packoplan dd {
  font-size: small;
  /* padding-inline-start: 2em; */
}
.bloque.bloque.packoplan i {
  color: var(--azul);
}

/* EQUIPO */

.bloque.empleado img {
  border-radius: 20px;
  width: 100%;
}

.bloque.empleado p {
  text-align: justify;
}

.bloque.empleado {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  align-content: center;
  border-radius: 20px;
}

.bloque.empleado ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 0;
}

.empleado li {
  padding-bottom: 10px;
}

.empleado h2 {
  margin: 0.5em;
}

/* CONTACTO */

.bloque.contacto {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-template-areas: " direcc direcc" "horario horario" "email email" "facebook facebook" "cita cita";
  /* width: 40%; */
  min-width: 300px;
  max-width: 350px;
  font-size: larger;
  row-gap: 0.5em;
  flex: 1 0 auto;
}

#mapa {
  flex: 1 0 auto;
  margin: 20px;
  align-self: center;
  min-width: 300px;
  max-width: 350px;
  min-height: 300px;
  /* width: 40%; */
}

address {
  grid-area: direcc;
  text-align: center;
  font-style: normal;
  margin-bottom: 20px;
}

.bloque.contacto table {
  grid-area: horario;
  justify-self: center;
  border: white 4px solid;
  border-radius: 10px;
  min-width: 300px;
  margin: 0 20px 10px 20px;
  padding: 10px;
}

.bloque.contacto td {
  vertical-align: top;
  padding-top: 15px;
}

.bloque.contacto td:last-child {
  text-align: right;
}

#email {
  grid-area: email;
  text-align: center;
}

#cita {
  grid-area: cita;
  text-align: center;
  padding-left: 10px;
  font-size: larger;
  font-weight: bolder;
  color: var(--azul);
  background-color: white;
  padding: 5px 0;
  border-radius: 10px;
  min-width: 300px;
  justify-self: center;
}

#facebook {
  grid-area: facebook;
  text-align: center;
}
.contacto a {
  color: white;
  text-decoration-line: none;
}

.contacto a:visited {
  color: white;
  text-decoration-line: none;
}

#cita .icono {
  font-size: larger;
  color: var(--azul);
}

#cita a {
  color: var(--azul);
}

.icono {
  color: white;
  vertical-align: middle;
  padding-right: 8px;
}

/* FOOTER */

#copyright {
  text-align: center;
}

/*******************************/

/* RESPONSIVE  */

/*******************************/

@media only screen and (min-width: 1024px) {
  .boton_menu {
    display: none;
  }
  .menu {
    display: flex !important;
  }
  .boton_cerrar{
    display: none;
  }
}

/* modo table o movil, tendremos boton */
@media only screen and (min-width: 768px) {
  .menu_bar span {
    display: block;
    background-color: rgb(255, 255, 255);
    color: var(--azul);
    border: var(--azul) 3px solid;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  img.logotipo {
    max-height: 80px;
    flex: 0 1 auto;
    background-position: left;
  }
  .boton_menu {
    border: 0;
    background-color: transparent;
  }
  .menu {
    position: fixed;
  /* display: none; */
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 250px; */
    padding: 0 10px;
    z-index: 999;
    background-color: white;
    align-items: flex-start;
    transition: 3s;;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .menu li {
    text-align: right;
  }

  .boton_cerrar {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: transparent;
    border: 0;
    color: var(--azul);
  }
}
@media only screen and (max-width: 768px) {
  .boton_menu {
    border: 0;
    background-color: transparent;
  }
  img.logotipo {
    max-height: 40px;
    flex: 0 1 auto;
    background-position: left;
  }
  .menu_bar {
    padding-right: 10px;

    display: block;
    text-align: right;
    flex: 9999 0 auto;
  }

  .menu {
    /* display: none; */
    position: absolute;
    margin: 10px auto;
    right: 0px;
    top: 40px;
    max-width: 200px;
    border: 4px solid var(--azul);
    background-color: white;
    transition: 0.3s;;
  }
  .cabecera {
    justify-content: flex-end;
  }
  .menu li {
    width: 100%;
    text-align: center;
    border-top: 2px solid var(--azul);
  }
  .menu li:first-child {
    border-top: none;
  }

  .contenedor:first-of-type {
    padding: 5px 0;

    position: sticky;
    background-color: white;
    top: 0;
    z-index: 9999;
    border-bottom: var(--azul) 5px solid;
  }
  .contenedor:nth-of-type(2) {
    border-top: none;
  }
  .menu_bar {
    display: flex;
    align-content: center;
    justify-content: flex-end;
  }
}
