
/*******************************/

/*   CABECERA    -    MOVIL    */

/*******************************/

.contenedor:first-of-type {
    position: sticky;
    top: 0;
    z-index: 999;
    margin-top: 0;
    display: flex;
    min-height: 70px;

    flex-direction: column;
    /* border-bottom: 5px var(--azul) solid; */
    border-top: 0;
  }
  .contenedor:nth-of-type(2) {
    border-top: 0;
  }
  
  nav.contenido {
    max-width: 1810px;
    width: 100%;
    border-top: 0;
    max-height: 80px;
    padding-bottom: 0;
    background-color: white;

  }
  
  /* contenedor principal del la cabecera y el menu*/
  .cabecera {
    width: 100%;
    background-color: white;
  }
  
  /* contenedor del la cabecera, osea logo y boton */
  .cab {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* logo */
  .logotipo {
    object-fit: contain;
    max-height: 70px;
    min-height: 70px;
    max-width: 90%;
  }
  
  /* boton desplegar/cerrar menu */
  span.boton_menu {
    /* background-color: rgb(255, 255, 255); */
    /* border: var(--azul) 3px solid; */
    font-size: xx-large;
    color: var(--azul);
    margin: auto 5px auto 0;
    cursor: pointer;
    content: "menu";
  }
  

  
  /* menu desplegable */
  .menu {
      z-index: 9;
      position: fixed;
      right: 0;
      top: 70px;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 0px;

      background-color:var(--azul);
      opacity: 0.85;
      transition: .5s;
      display: flex ;
      overflow: hidden;
    
  }
  .lista_menu{
      min-height: 100%;
      margin: auto;
      margin-top: 20%;
      
  }
  
  /* enlaces del menu */
  .lista_menu li {
    padding: 16px 10px;
    color: var(--azul);
    background-color: transparent;
    margin: auto;
    font-size: 24px;
    font-weight: bolder;
  ;
    text-decoration: none;
    
  }
  .lista_menu a {
    color: white;
  }

  .lista_menu a:visited {
    color: white;
  }



  
  /*******************************/
  
  /*  CABECERA   -    DESKTOP    */
  
  /*******************************/
  @media only screen and (min-width: 1025px) {
    
    /* cabecera */
     .cabecera {
      display: flex;
      position: fixed;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      flex-flow: row nowrap;
      
    } 
    
    nav.contenido {
        padding:0;
        margin: 0;
        min-height: fit-content;
    }
  
    /* oculto los botones de cerrar y de menu */  
    span.boton_menu {
      display: none;
    }
  
    
  
    /* Menu */
    #menu {
      position:static;
      overflow-y: visible;
      background-color: white;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      min-width: fit-content;
      max-height: fit-content;
      margin-right:0 ;

    }
    .lista_menu {
        margin: 0 auto  0 auto;
      display: flex;
      flex-direction: row;
      margin:0;
    }
  
    /* Boton de whatsapp */
    .whatsapp img {
      margin: 0;
      width: 4em;
      box-shadow: 0 10px 20px rgba(83, 0, 0, 0.8);
    }

    /* enlaces del menu */
    .lista_menu li {
      padding: 5px 10px;
      background-color: white;
      font-size: 16px;
  
      text-decoration: none;
      
      border: 0;
      min-width: fit-content;
    }
    .lista_menu a {
      color: var(--azul);
    }

    .lista_menu a:visited {
      color: var(--azul);
    }
  }