

/* Here the scale changes from 0 to 1. To add the bounciness 
effect, the scale is set to 1.25 midway through the animation
to give the animation a nicer effect. */
@keyframes expand-bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* Here the scale simply goes from 1 back to 0 */
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#boton_whatsapp {
  position: fixed;
  bottom: 3%;
  right: 3%;
  margin: 5px;
  padding: 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #25d366;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

#boton_whatsapp i {
  margin-left: 0.07em;
  color: white;
  font-size: 2em;
  text-align: center;
}
#burbuja_whatsapp {
  position: absolute;
  transform-origin: 0% 100%;
  text-align: center;
  background-color: var(--burbuja);
  color: white;
  border-radius: 10px;
  width: 120px;
  padding: 10px;
  right: 60px;
  top: -45px;
  transform: scale(0);
  animation-fill-mode: forwards;
}
#burbuja_whatsapp::before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  bottom: -25px;
  right: -5px;
  border-style: solid;
  border-width: 15px;
  border-color: var(--burbuja) transparent transparent var(--burbuja);
  border-color: var(--burbuja) var(--burbuja) transparent transparent;
  transform: rotate(342deg);

}