/* 
                                    X -etiqueta header para secciones en vez de div
                                    X cambio por completoprecios en vez h3 lista 
                                    X girar patas 45º 
                                    X mayusculas en los titulos con css
                                    X etiqueta time y date
- horario como tabla
                                    X etiqueta telefono llamar
                                    X - bloques servicios como lista definicioens
- longitud linea max 90caracteres
*/


/*******************************/


/* COLORES Y VARIABLES */


/*******************************/

:root {
    --azul: #1e73be;
    --gris: rgb(89, 89, 89);
    ;
}

.color_claro {
    background-color: white;
    color: var(--gris);
}

.color_oscuro {
    background-color: var(--azul);
    color: white;
}

.paw {
    transform: rotate(45deg);
    padding-right: 6px;
}


/*******************************/


/* LAYOUT ESTRUCTURA PRINCIPAL */


/*******************************/

* {
    box-sizing: border-box;
}


/* Formato general para todo el documento */

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0;
    min-width: 1200px;
    /*QUITAR min-width*/
}


/* contenedor para cada bloque grande que forma la pagina */

.container {
    /* padding-bottom: 50px; */
    align-self: center;
    margin: 0px 50px;
    width: 80%;
}

section {
    display: flex;
    flex-direction: column;
    border-top: 5px var(--azul) solid;
    padding-bottom: 50px;
}

.bloque_doble {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
}

.empleado {
    width: 40%;
}

dt,
dd {
    margin: 0;
    ;
}

dl {
    list-style: none;
}


/*******************************/


/* TEXTO */


/*******************************/

body {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.texto_seccion {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif, sans;
    text-align: center;
}

h2 {
    text-align: center;
}

.condiciones {
    margin-top: 20px;
    text-align: center;
}

.empleado p {
    text-align: justify;
}


/*******************************/


/* TITULOS */


/*******************************/

section header {
    position: relative;
    z-index: 99;
    top: -53px;
    /*  */
    padding: 2px 10px;
    margin-top: 25px;
    margin-bottom: -50px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    /*  */
    border: 5px solid var(--azul);
    border-radius: 25px;
    /*  */
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: var(--azul);
    background-color: white;
    text-transform: uppercase;
}


/*******************************/


/*       MENU SUPERIOR         */


/*******************************/

.menu_superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: stretch; */
    height: 100px;
    margin-top: 20px;
}

.menu_superior ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu_superior img {
    width: auto;
    height: 100%;
}

.menu_superior a {
    display: block;
    padding: 5px 10px;
    color: #1e73be !important;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.menu_superior a:hover {
    border-bottom: 4px solid #1e73be !important;
    transition: 0.5s ease;
}

.menu_superior a:visited {
    text-decoration: none;
    outline: none;
}


/*******************************/


/*            SLIDE            */


/*******************************/

.carro {
    animation-duration: 30s;
    animation-name: carrusel;
}

.boton_slide {
    background-color: white;
    border: 0;
    color: var(--azul);
    font-size: 50px;
    padding: 0 20px;
}

.boton_slide:hover {
    text-shadow: 5px 5px grey;
    cursor: pointer;
}

.container.slide {
    display: flex;
    padding: 25px 50px 50px 25px;
    justify-content: center;
    align-items: center;
}

.slide img {
    /* max-height: 500px; */
    /* height: auto; */
    /* max-width: 100%; */
    width: 85%;
    height: 100%;
}


/*******************************/


/* SECCIONES  */


/*******************************/


/* LA CLINICA */

.carrusel_fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.carrusel_fotos img {
    border-radius: 10px;
    margin: 4px;
    border: transparent solid 6px;
}

.carrusel_fotos img:hover {
    border: var(--azul) solid 4px;
    padding: 2px;
    opacity: 0.6;
}


/* SERVICIOS */

#sec_servicios dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.bloque_servicio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    min-width: 100px;
    margin: 20px;
}

.bloque_servicio img {
    width: 60px;
    border-radius: 40%;
}

.bloque_servicio h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


/* PLANES y PACKS*/

.bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    padding: 0 10px;
    border-width: 4px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}

.bloque h3 {
    font-size: x-large;
    text-transform: uppercase;
}

.bloque h4 {
    font-size: xx-large;
    margin: 0.5em 0;
}

.bloque dl {
    padding: 10px 20px;
    list-style: none;
    border: var(--azul) 5px solid;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 0;
}

.bloque dt {
    font-weight: bold;
}

.bloque dd {
    font-size: small;
    padding-inline-start: 2em;
}

.bloque i {
    color: var(--azul);
}

.bloque img {
    border-radius: 10px;
    width: 80%;
}


/* EMPLEADOS */

.empleado img {
    border-radius: 20px;
}

figcaption {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.empleado {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px;
    align-content: center;
    border-radius: 20px;
    padding: 20px;
}

.empleado ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 0;
}

.empleado li {
    padding-bottom: 10px;
}

.empleado h2 {
    margin: 0.5em;
}


/* CONTACTO */

#sec_contacto .contenido {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 20px;
}

.bloque_contacto {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    grid-template-areas: " direcc direcc" "horario horario" "email email" "facebook facebook" "cita cita";
    width: 40%;
    min-width: 300px;
    font-size: larger;
}

#mapa {
    min-width: 300px;
    min-height: 300px;
    width: 40%;
}

#direccion {
    grid-area: direcc;
    text-align: center;
}


/* 
#horario {
    grid-area: horario;
    justify-self: center;
    display: flex;
    justify-content: center;
    border: white 4px solid;
    border-radius: 10px;
    width: 350px;
    margin-bottom: 10px;
}

#dias {
    grid-area: dias;
    padding-right: 10px;
    text-align: right;
}

#horas {
    grid-area: horas;
    padding-left: 10px;
} */

.bloque_contacto table {
    grid-area: horario;
    justify-self: center;
    border: white 4px solid;
    border-radius: 10px;
    width: 325px;
    margin-bottom: 10px;
    padding: 10px;
}

.bloque_contacto caption {
    margin-bottom: 10px;
}

.bloque_contacto td {
    vertical-align: top;
    padding-top: 15px
}

.bloque_contacto td:last-child {
    text-align: right;
}

#email {
    grid-area: email;
    text-align: center;
    padding-top: 15px;
}

#cita {
    grid-area: cita;
    text-align: center;
    padding-left: 10px;
    font-size: larger;
    font-weight: bolder;
    color: var(--azul);
    background-color: white;
    padding: 5px 0;
    border-radius: 10px;
    width: 350px;
    justify-self: center;
    margin-bottom: 20px;
}

#facebook {
    grid-area: facebook;
    text-align: center;
}

#sec_contacto a {
    color: white;
    text-decoration-line: none;
}

#sec_contacto a:visited {
    color: white;
    text-decoration-line: none;
}

#cita .icono {
    font-size: larger;
    color: var(--azul);
}

#cita a {
    color: var(--azul);
}

.icono {
    color: white;
    vertical-align: middle;
    padding-right: 8px;
}


/* FOOTER */

#copyright {
    text-align: center;
}