/*******************************/


/* LAYOUT ESTRUCTURA PRINCIPAL */


/*******************************/

* {
    box-sizing: border-box;
}

:root {
    --azul: #1e73be;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    min-width: 1200px;
    /*QUITAR min-width*/
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.container {
    /* margin: 0px 150px; */
    padding: 0 150px 50px 150px;
    align-self: stretch;
}

section {
    display: flex;
    flex-direction: column;
    border-top: 5px solid var(--azul);
    padding-bottom: 50px;
}

.blanco {
    background-color: white;
    color: rgb(89, 89, 89);
}

.azul {
    background-color: var(--azul);
    color: white;
}

.bloque_doble {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#sec_planes img,
#sec_packs img,
.empleado {
    width: 40%;
}


/*******************************/


/* TEXTO */


/*******************************/

.texto_seccion {
    /* text-align: center; */
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif, sans;
    text-align: center;
}

h2 {
    text-align: center;
}

.condiciones {
    margin-top: 20px;
    text-align: center;
}

.empleado p {
    text-align: justify;
}


/*******************************/


/* TITULOS */


/*******************************/

.titulo_seccion {
    position: relative;
    z-index: 99;
    top: -53px;
    margin-top: 25px;
    margin-bottom: -50px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 10px;
    border: 5px solid var(--azul);
    border-radius: 25px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: var(--azul);
    background-color: white;
}


/*******************************/


/*       MENU SUPERIOR         */


/*******************************/

.container.menu_superior {
    padding: 0 150px 0 150px;
}

.menu_superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: stretch; */
    height: 100px;
    margin-top: 20px;
}

.menu_superior ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu_superior img {
    width: auto;
    height: 100%;
}

.menu_superior a {
    display: block;
    padding: 5px 10px;
    color: #1e73be !important;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.menu_superior a:hover {
    border-bottom: 4px solid #1e73be !important;
    transition: 0.5s ease;
}

.menu_superior a:visited {
    text-decoration: none;
    outline: none;
}


/*******************************/


/*            SLIDE            */


/*******************************/

.container.slide {
    display: flex;
    padding: 25px 50px 50px 25px;
    justify-content: center;
    align-items: center;
}

.slide img {
    /* max-height: 500px; */
    /* height: auto; */
    /* max-width: 100%; */
    width: 85%;
    height: 100%;
}

.slide i {
    color: var(--azul);
    font-size: 50px;
}

.slide i:hover {
    color: white;
    text-shadow: 3px 3px var(--azul);
}


/*******************************/


/* SECCIONES  */


/*******************************/


/* LA CLINICA */

.carrusel_fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.carrusel_fotos img {
    border-radius: 10px;
    margin: 4px;
    border: transparent solid 6px;
}

.carrusel_fotos img:hover {
    border: var(--azul) solid 4px;
    padding: 2px;
}


/* SERVICIOS */

.lista_servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bloque_servicio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    min-width: 100px;
    margin: 10px;
}

.bloque_servicio img {
    width: 60px;
    border-radius: 40%;
}

.bloque_servicio h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    /* margin: 0 */
}

.bloque_servicio p {
    margin-top: 0;
}

.lista_servicios p {
    text-align: center;
}


/* PLANES */

#sec_planes .bloque_doble {
    align-items: flex-end;
}


/* PACKS */

.bloque_doble img {
    border: white 2px solid;
    border-radius: 20px;
    background-color: white;
}


/* EMPLEADOS */

.empleado img {
    border-radius: 20px;
    border: 3px;
}

figcaption {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.empleado {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px;
    align-content: center;
    border-radius: 20px;
    padding: 10px;
}

.empleado ul {
    list-style: none;
    padding-inline-start: 0px;
}

.empleado li {
    padding-bottom: 10px;
}

.empleado i {
    font-size: 16px;
    padding-right: 6px;
}


/* CONTACTO */

.contacto {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 20px;
}

.bloque_contacto {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    grid-template-areas: " direcc direcc" "horario horario" "email email" "cita telefono" "facebook facebook";
    /* grid-gap: 2%; */
    width: 40%;
    min-width: 300px;
    /* background-color: red; */
    font-size: larger;
}

#mapa {
    min-width: 300px;
    min-height: 300px;
    width: 40%;
}

#direccion {
    grid-area: direcc;
    text-align: center;
    /* padding: 10px; */
}

#horario {
    grid-area: horario;
    justify-self: center;
    display: flex;
    justify-content: center;
    border: white 4px solid;
    border-radius: 10px;
    width: 350px;
    margin-bottom: 10px;
}

#dias {
    grid-area: dias;
    padding-right: 10px;
    text-align: right;
}

#horas {
    grid-area: horas;
    padding-left: 10px;
}

#email {
    grid-area: email;
    text-align: center;
    padding: 10px 0;
}

#cita_previa {
    grid-area: cita;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#telefono {
    grid-area: telefono;
}

#facebook {
    grid-area: facebook;
    text-align: center;
}

.icono {
    color: white;
    vertical-align: middle;
    padding-right: 8px;
}

#copyright {
    text-align: center;
}