/*******************************/

/* VARIABLES */

/*******************************/

:root {
  --azul: #1e73be;
  --gris: rgb(89, 89, 89);
}

.oscuro {
  background-color: var(--azul);
  color: white;
}

.claro {
  background-color: white;
  color: var(--gris);
}

/*******************************/

/* LAYOUT ESTRUCTURA PRINCIPAL */

/*******************************/

/* Contiene todo el cuerpo */
body > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* contenedor para cada bloque, este define el fondo azul/blanco */
.contenedor {
  min-height: 50px;
  width: 100%;
  margin-top: 20px;
  z-index: -100;
}

/* contenido de cada bloque, define los margenes tambien y el ensanchamiento max/min */
.contenido {
  max-width: 1440px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto 0 auto;
  border-top: 5px var(--azul) solid;
  /* border-top: orange 5px solid; */
}
/*******************************/

/* TEXTO */

/*******************************/

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: var(--gris);
}

.texto_seccion {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif, sans;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.condiciones {
  margin-bottom: 20px;
  text-align: center;
}

figcaption {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.paw {
  transform: rotate(45deg);
  padding-right: 6px;
}
q {
  font-weight: bolder;
  font-size: larger;
  /* quotes: "“" "”" "‘" "’"; */
}
/* .cita::before {
  color: var(--azul);
  font-size: 2em;
  content: open-quote;
} */
.cita::after {
  /* content: close-quote;
  font-size: 2em;
  color:var(--azul); */
  position: absolute;
  content: "”";
  color: var(--azul);
  opacity: 0.5;
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 0px;
}
.cita {
  position: relative;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  padding: 15px 0;
  width: 100%;
  max-width: 90%;
  z-index: 1;
  margin: 0px auto 50px auto;
  border-top: var(--azul) solid 1px;
  border-bottom: var(--azul) solid 1px;

  /* margin:0 auto; */
  align-self: center;
}
.cita h2 {
  position: relative;
  font-size: larger;
  font-weight: 800;
  line-height: 1;
  font-style: italic;
}

/*******************************/

/* TITULOS */

/*******************************/

section header {
  z-index: 2;
  position: relative;
  height: 37px;
  top: -20px;
  padding: 4px 10px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  /*   */
  border: 5px solid var(--azul);
  border-radius: 25px;
  /*  */
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: var(--azul);
  background-color: white;
  text-transform: uppercase;
}

/*******************************/

/*            SLIDE            */

/*******************************/

.contenedor:nth-of-type(1) {
  /* Eliminamos margen pq no tiene titulo este contenedor*/
  margin-top: 0;
}
.contenido.sld {
  border-top: 0;
  position: relative;
}
.slide {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 70vh;
  z-index: -1;
}

.slide img {
  flex: 9999 0 200px;
  max-height: 60vh;
  object-fit: cover;
  z-index: -99;
}
span.boton_slide {
  flex: 1 0 auto;
  padding: 0;
  margin: 10px;
  color: white;
  opacity: 80%;
  font-size: 70px;
  position: absolute;
  cursor: pointer;
}
.boton_slide.atras {
  left: 0px;
}
.boton_slide.alante {
  right: 0;
}

.boton_slide:hover {
  /* text-shadow: 5px 5px var(--azul); */
  cursor: pointer;
}

/* bolitas de progreso */
.progreso {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
  left: auto;
}
.contprogreso input {
  /*Oculta el verdadero formulario*/
  opacity: 0;
  cursor: pointer;
}

.bolita {
  display: block;
  background: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: 1px white solid;
  opacity: 80%;
  cursor: pointer;
}
.bolita:after {
  content: "";
  position: absolute;
  display: none;
}
.contprogreso input:checked ~ .bolita {
  background-color: var(--azul);
  border: 0;
}

.frases {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  /* font-size: xx-large; */
  font-style: italic;
  color: white;
  /* background: rgba(48, 78, 160, 0.5); */
  background-color: transparent;
  /* border: 1px darkgray solid; */
  /* box-shadow: 08px 8px 32px 40px rgba(48, 78, 160, 0.97); */
  text-shadow: 08px 8px 32px 40px rgba(48, 78, 160, 0.97);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 5px;
  height: 15%;
  /* width: 100%; */
  line-height: 100%;
}

#frase1 {
  top: 25%;
  left: 5%;
}
#frase2 {
  top: 10%;
  left: 5%;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  color: black;
}
#frase3 {
  top: 35%;
  left: 65%;
}
#frase4 {
  text-shadow: 08px 8px 32px 40px rgba(48, 78, 160, 0.97);

  top: 20%;
  left: 15%;
  width: auto;
}
#frase5 {
  align-content: center;
  justify-content: center;
}
#frase5 span {
  vertical-align: middle;
  padding-top: auto;
  padding-bottom: 50%;
  height: 100%;
  line-height: 100px;
}
.frases span {
  line-height: 100%;
  font-size: 4vw;
  display: none;
}

/*******************************/

/* SECCIONES  */

/*******************************/

/* LA CLINICA */

/* la galeria muestra todas las fotos en el cuerpo de la pagina en thumnail */

.galeria {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.galeria img {
  margin: 4px;
  width: 80px;
  transition: 0.5s;
}

.galeria img:hover {
  border: var(--azul) solid 4px;
  padding: 2px;
  opacity: 0.6;
}

/* el visor se abre al clickear una foto y ocupa toda la pantalla */
#visor {
  display: none;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* contiene el titulo de la foto y los botones*/
.barra_visor {
  display: flex;
  width: 100%;
  /* height: 60px; */
  background-color: var(--azul);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

#titulo_foto {
  width: 100vw;
  font-size: xx-large;
  text-align: center;
}

/* botones para pasar de foto*/
.boton_visor {
  /* margin-top: -10px; */
  color: white;
  opacity: 80%;
  cursor: pointer;
  font-size: 40px !important;

  border-radius: 50%;
  text-align: center;
  vertical-align: top;
  margin:5px 0 5px 0;
}
.boton_visor:focus,
.boton_visor:hover {
  color: var(--azul);
  text-decoration: none;
  background-color: white;
}
.boton_visor.atras {
  left: 10px;
}
.boton_visor.alante {
  right: 10px;
}

/* contenedor que nos ayuda a centrar la foto y sobretodo a detectar los clicks fuera de la barra_visor */
.contenedor_foto {
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-name: zoom;
  animation-duration: 0.6s;
  display: flex;
}

#foto_completa {
  width: 100%;
  object-fit: contain;
}

/* animacion al abrir el visor */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
 
/* boton para cerrar el visor */
.contenedor_foto .close {
  position: absolute;
  top: 60px;
  right: 8px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  height: 1em;
  width: 1em;
  text-align: center;
  border-radius: 50%;
}
.contenedor_foto .close:hover,
.contenedor_foto .close:focus {
  color: var(--azul);
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}



/* SERVICIOS */

.servicios dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.servicios dd {
  /* display: none; */
  background-color: var(--azul);
  height: 0;
  overflow-y: hidden;
  transition: 0.7s;
  text-align: justify;
  padding: 0;
}
.bloque_servicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  min-width: 100px;
  flex: 999 1 20px;

  border-color: white;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  background-color: white;

  /* transition: height 7s; */
}
.bloque_servicio:last-child {
  border-bottom: 2px white solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bloque_servicio:first-child {
  border-bottom: 2px white solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bloque_servicio img {
  /* width: 60px;
  border-radius: 40%; */
  display: none;
}

.bloque_servicio h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--azul);
  text-transform: capitalize;
}

/* cuando se despliega el conteido */
.bloque_servicio.abierto dd {
  height: initial;
  padding: 10px;

  /* transition: height 2s; */
  /* display: block; */
}

.bloque_servicio.abierto span::before {
  content: "expand_more";
}
.bloque_servicio span::before {
  content: "chevron_right";
}
